@{
    ViewData["Title"] = "Home Page";
}

<h1>Задание 3: Custom Identity Sample</h1>

<p>Задача: написать веб-приложение состоящее из страницы входа пользователя используя собственную переопределенную реализацию Identity провайдера, работающего на ORM-решение, реализованном в задании 2.</p>